body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.margin-10 {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end
}

.font-button {
    background: transparent;
    color: black;
    font-weight: bold;
}

.a {
    vertical-align: bottom;
    padding: 1px 1px;
}

button.font-button {
    padding: 3px 3px 0 3px;
    outline-color: lightgrey;
}

.small{
    font-size: 16px;
}
.medium{
    font-size: 18px;
}
 .normal p{
    font-size: 16px;

}

.medium p{
    font-size: 18px;

}

.large p{
    font-size: 20px;
}

.plus {
    font-size: 12px;
    vertical-align: top;
}

.contrast-button {
    font-size: 16px;
    background: black;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 0px;
    font-weight: bold;
    outline-color: transparent;
    color: yellow;
}

.contrast {
    background-color: yellow;
}

.head {
    width: 100%;
    display: inline-block;
}

.flags {
    position: absolute;
    right: 0;
    top: 9%;

}

.menu {
    margin-left: -15px;
}

.navbar-default {
    margin: 0;
    border: 0;
}

.navbar-header {
    margin: 0;
}

.navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav {
    text-align: center;
}

.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix-top {
    position: relative;
}

.title-page {
    color: #834242;
}

.title {
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

.hide {
    display: block;
}

h1 small {
    display: block;
}

h3 {

    padding-top: 220px;

}

h5 {
    color: #834242;
    font-size: 25px;
    font-weight: 900;
}

h6 {
    color: #834242;
    font-style: italic;
    font-size: 20px;
}

.logo {
    height: 10%;
}

.logo h1 {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #834242;
}

button {
    background-color: #834242;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 2%;
}

.collapse {
    margin-left: 0;
    background-color: #834242;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    width: 100%;
}

.content {
    margin-top: 50px;
    z-index: -1;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 15px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #bc6c6c;
    background-color: #834242;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.bg p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    text-shadow: 2px 2px 5px black;
}

article {
    padding-top: 30px;
}

.location.news {
    min-height: 200px;
    text-align: center;
}

#galery {
    padding-top: 28px;
}

.galery-img {
    background-size: cover;
    height: 300px;
    width: 100%;
}

.fit {
    object-fit: cover;
}

.history {
    text-align: justify;
}

.history h1 {
    text-align: center;
}

.history h5 {
    text-align: center;
}

.history h6 {
    text-align: center;
}

.colum {
    column-count: 3;
    column-gap: 2em;
}

.bg-photo {
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 40px;
}

.revitalization {
    text-align: justify;
}

.cooperation {

    height: auto;
    text-align: justify;
}

.contact {
    text-align: justify;
}

p:last-child {
    padding-bottom: 5%;
}

.poster {
    display: block;
    margin: 20px auto;
}

.poster:hover {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .flags {
        top: 200px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .colum {
        column-count: 1;
    }

    button {
        margin: 0.2%;
    }

    .logo {
        text-align: center;
    }

    main {
        margin-top: 90px;
        position: relative;
    }

    .history {
        text-align: justify;
    }

    .history h1 {
        text-align: center;
    }

    .history h5 {
        text-align: center;
    }

    .history h6 {
        text-align: center;
    }

    .collapse {
        background-color: #834242;
        margin-left: 0;
    }

    .navbar-default .navbar-nav > li > a {
        color: white;

    }

    .contact {
        text-align: center;
    }

}

@media only screen and (max-width: 767px) {
    .flags {
        top: 125px;
    }

    .menu {
        margin-left: -15px;
        margin-right: -15px;
    }

    .navbar-header {
        background-color: #834242;
    }

    .affix > .menu > nav > .navbar-header {
        padding-right: 15px;
    }

    article > .row > div {
        margin-top: 50px;
    }

    p {
        font-size: 17px;
    }

}

@media only screen and (max-width: 506px) {
    .flags {
        top: 190px;
    }
}
