body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.head{
    width: 100%;
    display: inline-block;
}
.menu {
    margin-left: -15px;
}
.navbar-default{
    margin: 0;
    border: 0;
}
.navbar-header {
    margin: 0;
}
.navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-nav {
    text-align: center;
}

.affix {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9999 !important;
}
.affix-top {
    position: relative;
}


h1 {
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

h3 {

    padding-top: 220px;

}

h5 {
    color: #834242;
    font-size: 25px;
    font-weight: 900;
}

h6 {
    color: #834242;
    font-style: italic;
    font-size: 20px;
}


.logo {
    height: 10%;
}

.logo h1 {
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #834242;
}

button {
    background-color: #834242;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 2%;
}

.collapse{
  margin-left: 0;
    background-color: #834242;
}
.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    width: 100%;
}
.content {
    margin-top:50px;
    z-index: -1;
}

.navbar-default .navbar-nav>li>a {
     color: white;
    font-size: 15px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #bc6c6c;
    background-color: #834242;
}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

a:visited {
    color:grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.bg {
    height: 450px;
    text-align: center;
    background: url("images/dwor.jpg") no-repeat fixed center;
    background-size: cover;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.4);
    color: white;
}

.bg p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    text-shadow: 2px 2px 5px black;
}
article{
    padding-top: 30px;
}


.location {
    min-height: 200px;
    text-align: center;
    /*padding-top: 50px;*/
}

.galery {
    height: 350px;
    color: white;
    text-align: center;
    background: url("images/dworek.jpg") no-repeat fixed center;
    background-size: cover;
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.4);
}

.history {
    text-align: justify;
}
.history h1{
    text-align: center;
}
.history h5{
    text-align: center;
}
.history h6{
    text-align: center;
}
.colum{
    column-count: 3;
    column-gap: 2em;
    /*padding: 5px 5ex 5em;*/
}
.bg-photo{

    background: url("images/dwor.jpg") no-repeat fixed center;
    background-size: cover;
    height: 350px;
    margin-top: 40px;
}

.revitalization {
    text-align: justify;
}

.cooperation {

    height: auto;
    text-align: justify;
}

.contact {

    text-align: justify;

}

p:last-child {
    padding-bottom: 5%;
}
@media only screen and (max-width: 900px) {
 .colum{
     column-count: 1;
 }
    button{
        margin: 0.2%;
    }
    .logo{
        text-align: center;

    }
    main{
margin-top: 90px;
        position: relative;
    }
    .history{
        text-align: justify;
    }
    .history h1{
        text-align: center;
    }
    .history h5{
        text-align: center;
    }
    .history h6{
        text-align: center;
    }
    .collapse{
        background-color: #834242;
        margin-left: 0;
    }

    .navbar-default .navbar-nav>li>a {
        color: white;

    }
.contact{
    text-align: center;
}

}
@media only screen and (max-width: 767px) {
    .menu {
        margin-left: -15px;
        margin-right: -15px;
    }

    .navbar-header {
        background-color: #834242;
    }

    .affix > .menu > nav > .navbar-header {
        padding-right: 15px;
    }

    article > .row > div {
        margin-top: 50px;
    }
  p{
      font-size: 17px;
  }

}
